@model IEnumerable<Tibox.Models.Customer>

@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>

<div class="pagination"></div>
<div class="content"></div>
<div class="pagination"></div>
@Modal.ModalView()
<script src="~/Scripts/jquery.bootpag.min.js"></script>
<script src="~/Scripts/app/customer/customer.js"></script>