$site-color-white: #fff;
$site-color-black: #000;

$background-color: #E6E6FA;
/*Button colors*/
$button-color-white: #f5eded;
$button-color-black: #2f2e2e;
$button-color-grey: #808080;
$button-color-grey-soft: #575656;
$button-color-green: #408358;
$button-color-red: #ee3d24;

$button-hover-color-black: #575656;
$button-hover-color-green: #75b98d;
$button-hover-color-red: #f58c7d;
