@mixin break-point($breakpoint){
    $bp-xs: "(max-width: 420px)";
    $bp-sm: "(min-width: 420px)";
    $bp-md: "(min-width: 768px)";
    $bp-lg: "(min-width: 1024px)";
    $bp-xl: "(min-width: 1280px)";
    $bp-xxl: "(min-width: 1900px)";

    @if $breakpoint == xs{
        @media #{$bp-xs} { @content; }
    }
    @else if $breakpoint==sm{
        @media #{$bp-sm} { @content; }
    }
    @else if $breakpoint==md{
        @media #{$bp-md} { @content; }
    }
    @else if $breakpoint==lg{
        @media #{$bp-lg} { @content; }
    }
    @else if $breakpoint==xl{
        @media #{$bp-xl} { @content; }
    }
    @else if $breakpoint==xxl{
        @media #{$bp-xxl} { @content; }
    }
}

@mixin background-color($color){
    @if $color =='red' {
        background-color: $button-color-red;
    } 
    @else if $color =='green' {
        background-color: $button-color-green;
    }
    @else if $color =='black' {
        background-color: $button-color-black;
    } 
    @else if $color =='red-hover' {
        background-color: $button-hover-color-red;
    } 
    @else if $color =='green-hover' {
        background-color: $button-hover-color-green;
    }
    @else if $color =='black-hover' {
        background-color: $button-hover-color-black;
    }
}